/* Auth Pages */
.auth-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
  }
  
  .auth-card {
    background-color: #fff;
    width: 400px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .auth-card h1 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  .auth-card label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .auth-card input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .auth-card button {
    width: 100%;
    padding: 10px;
  }
  